/rsa/gen_plaintext
/rsa/gen_rsa_key
/rsa/run_rsa
/rsa/rsa_encrypt
/rsa/rsa_decrypt
/server_client/run_client
/server_client/run_server
/server_client/AES_lib/run_aes
/CCA2_attack/run_attack
/rsa_oaep/run_rsa_oaep
/rsa_oaep/run_encrypt
/rsa_oaep/run_decrypt
/rsa_oaep/gen_plaintext